.inquiry {
    width: 600px;
    margin: 30px auto 30px auto;
}

.item{
    overflow: hidden;
    margin-bottom: 20px;
  }

.label{
    float: left;
    margin-right: 20px;
    width:135px;
    border-left: solid 3px blue;
    padding-left: 10px;
}

.inputs{
    float: left;
    width:400px;
}

input[type="text"],input[type="email"]{
    border: solid 1px #aaa;
    border-radius:5px;
    padding:10px;
    font-size: 15px;
}

textarea{
    border: solid 1px #aaa;
    border-radius:5px;
    padding: 10px;
    height: 100px;
    font-size: 15px;
}

.btn-area{
    text-align: center;
}

input[type="submit"]{
    background: #0099FF;
    border: none;
    color: white;
    opacity: 0.7;
    font-size: 17px;
    font-weight: bold;
    width: 100px;
    padding: 10px 20px;
    margin: 0 5px;
  }

input[type="submit"]:hover {
    opacity: 1;
}